.main {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
}

.container {
    width: 1219px;
    margin: 0 auto;
}

.header {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;

    width: 100%;
    height: 84px;

    background-color: #007765;
}

.logo {
    float: left;

    padding-top: 20px;
    padding-right: 55px;
    padding-left: 55px;
}

.navigation {
    float: right;

    padding-top: 29px;
    padding-right: 55px;
    padding-left: 55px;
}

nav > a {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-decoration: none;

    color: #FFFFFF;
}

.jumbotron {
    width: 101.2%;
    height: 403px;

    background-image: url(img/image1.png);
    background-size: cover;
    background-position: center center;

    margin-top: 84px;
    margin-left: -10px;
}